body {
  font-family: 'Open Sans', sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
button,
a {
  cursor: pointer;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.header {
  padding-top: 35px;
  color: #1e1e1e;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 480px) {
  .header {
    font-size: 30px;
  }
}
.line-under-header {
  margin: 0 auto;
  width: 90px;
  margin-top: 30px;
  background: #1e1e1e;
  max-height: 0px;
  border: 2px solid #1e1e1e;
}
.title {
  font-size: 16px;
  line-height: 30px;
}
.price {
  font-weight: 700;
}
.price-new {
  color: #ba0152;
  font-size: 30px;
  line-height: 36px;
}
.price-old {
  text-decoration: line-through;
  color: #8C8C8C;
  font-size: 24px;
}
.header-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  z-index: 500;
  height: 70px;
  background: #fff;
}
.header-menu__container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header-menu__logo {
  height: 60px;
  width: auto;
  background: url(../pictures/nav-menu/nav_menu_logo.webp) left no-repeat;
}
.header-menu-navigation {
  text-align: right;
}
.header-menu-navigation__list {
  list-style-type: none;
}
.header-menu-navigation__item {
  display: inline-block;
  margin-left: 30px;
}
.header-menu-navigation__link {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 400;
  font-size: 16px;
}
.mobile-control {
  display: none;
}
@media (max-width: 940px) {
  .header-menu {
    display: block;
  }
  .header-menu__container {
    display: grid;
    margin: 0px;
    max-width: none;
  }
  .header-menu-navigation {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .header-menu-navigation_mobile-deactivate {
    display: none;
  }
  .header-menu-navigation_mobile-activate {
    display: block;
  }
  .header-menu-navigation__list {
    background: #fff;
    padding: 0px;
    margin: 0px;
  }
  .header-menu-navigation__item {
    margin: 0px;
    padding: 20px 0px;
    display: list-item;
    border: 1px solid #DBDBDF;
  }
  .header-menu-navigation__link {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
  }
  .mobile-control {
    display: block;
    text-align: right;
  }
  .mobile-control__open-button {
    margin: 0px 15px;
    background: none;
    border: none;
    font-size: 50px;
  }
  .mobile-control__open-button_deactivate {
    display: none;
  }
  .mobile-control__close-button {
    margin: 0px 15px;
    background: none;
    border: none;
    font-size: 50px;
  }
  .mobile-control__close-button_deactivate {
    display: none;
  }
}
@media (max-width: 480px) {
  .header-menu__logo {
    background-size: 60%;
  }
}
.pop-up {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 100;
}
.pop-up__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 640px;
  height: 350px;
  background-color: #fff;
  margin: 0px auto;
}
.pop-up__product-button-block {
  margin: 10px;
}
.pop-up__product-button-block_buy {
  text-align: center;
}
.pop-up__product-button-block_close {
  text-align: right;
}
.pop-up__product-close-button {
  background: url(../pictures/pop-up/pop-up_cancel.webp) no-repeat;
  width: 13px;
  height: 13px;
  border: none;
}
.pop-up__product-name {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.pop-up__product-price {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 36px;
  padding: 10px 35px;
}
.pop-up__product-info {
  display: grid;
  justify-items: center;
  grid-gap: 10px;
}
.pop-up__product-info ::-webkit-input-placeholder {
  text-align: center;
}
.pop-up__product-size {
  text-align: center;
  width: 286px;
  height: 43px;
  border: 1px solid #CECED3;
  font-size: 16px;
}
.pop-up__product-button-buy {
  padding: 15px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a75e6), to(#8b55e9));
  background: linear-gradient(top, #4a75e6, #8b55e9);
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  border-bottom: 4px solid #375CB2;
}
.pop-up__product-button-buy:hover {
  border-bottom: 4px solid #264792;
}
.pop-up__product-button-buy:active {
  border-bottom: 4px solid #264792;
  -webkit-box-shadow: 0px 5px 20px -9px #264792;
          box-shadow: 0px 5px 20px -9px #264792;
}
.pop-up__client-info {
  padding: 0px 10px;
  width: 264px;
  height: 43px;
  border: 1px solid #CECED3;
  font-size: 16px;
}
@media (max-width: 720px) {
  .pop-up__content {
    grid-template-columns: 1fr;
    width: auto;
    height: auto;
  }
  .pop-up__product {
    background: #fff;
  }
  .pop-up__image {
    display: none;
  }
}
.promo {
  background: url(../pictures/promo/background_Desk.webp) center no-repeat;
  background-size: 100vw;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}
.promo__image {
  position: relative;
}
.promo__image-one {
  position: absolute;
  left: -50px;
  top: 30px;
  z-index: 1;
}
.promo__image-two {
  position: absolute;
  right: -50px;
  top: 35px;
  z-index: 1;
}
.promo__info {
  padding-top: 50px;
}
.promo__title {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}
.promo__main-header {
  font-size: 75px;
  font-weight: 700;
  line-height: 90px;
}
.promo__line-under-header {
  margin: 0px auto;
  margin-top: 30px;
  max-height: 0px;
  margin-bottom: 20px;
  background: #ffffff;
  width: 400px;
  border: 2px solid white;
}
.promo__button {
  padding-top: 35px;
  padding-bottom: 125px;
  position: relative;
  z-index: 10;
}
.promo__button a {
  background: none;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 24px;
  margin: 0px 10px;
  text-decoration: none;
}
@media (max-width: 1920px) {
  .promo {
    background-size: cover;
  }
}
@media (max-width: 940px) {
  .promo__title {
    font-size: 22px;
  }
}
@media (max-width: 720px) {
  .promo__image-one {
    left: -110px;
    top: 90px;
  }
  .promo__image-two {
    right: -100px;
    top: 90px;
  }
  .promo__title {
    font-size: 20px;
  }
  .promo__main-header {
    font-size: 55px;
  }
  .promo__under-header-line {
    width: 240px;
  }
  .promo__button {
    display: inline-grid;
    grid-gap: 20px;
  }
}
@media (max-width: 480px) {
  .promo__image-one {
    display: none;
  }
  .promo__image-two {
    display: none;
  }
}
.about-product {
  margin-bottom: 10px;
  text-align: center;
}
.size-table-block {
  background: url('../pictures/spec_form/spec_form_background.webp');
}
.size-table-block__container {
  padding-bottom: 60px;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.size-table-block__body {
  margin: 30px 0px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px -23px #707070;
          box-shadow: 0px 0px 50px -23px #707070;
  padding: 30px;
}
.size-table-block__row {
  text-align: center;
  padding: 15px 25px;
  font-size: 16px;
}
.size-table-block__columun:nth-child(2n+1) {
  background: #F3F3F3;
}
.size-table-block__columun:nth-child(2n+2) {
  background: white;
}
.size-table-block__row:nth-child(1) {
  text-align: left !important;
}
@media (max-width: 970px) {
  .size-table-block__content {
    overflow: scroll;
  }
}
.catalog__showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}
.catalog-card {
  position: relative;
  border: 1px solid #DBDBDF;
}
.catalog-card__everyday_activate {
  display: block;
}
.catalog-card__everyday_deactivate {
  display: none;
}
.catalog-card__erotic_activate {
  display: block;
}
.catalog-card__erotic_deactivate {
  display: none;
}
.catalog-card__img {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}
.catalog-card__sale {
  top: 10px;
  left: 10px;
  position: absolute;
  padding: 16px 10px;
  background: #ba0152;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
}
.catalog-card__name {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
.catalog-card__size-block {
  text-align: center;
}
.catalog-card__size-pick {
  background: none;
  border: 2px solid white;
  font-size: 18px;
  line-height: 36px;
  color: #1e1e1e;
  padding: 0px 5px;
}
.catalog-card__size-pick_select {
  border: 2px solid #ba0152 !important;
}
.catalog-card__color-block {
  text-align: center;
  padding: 10px 0px;
}
.catalog-card__color-pick {
  border-radius: 50%;
  font-size: 0px;
  padding: 15px 15px;
  border: 2px solid #DBDBDF;
}
.catalog-card__color-pick_black {
  background-color: black;
}
.catalog-card__color-pick_red {
  background-color: red;
}
.catalog-card__color-pick_select {
  border: 2px solid #ba0152 !important;
}
.catalog-card__price-block {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 36px;
  padding: 10px 35px;
}
.catalog-card__buy-block {
  text-align: center;
  padding-bottom: 25px;
}
.catalog-card__buy-button {
  padding: 15px 85px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a75e6), to(#8b55e9));
  background: linear-gradient(top, #4a75e6, #8b55e9);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  border-bottom: 4px solid #375CB2;
}
.catalog-card__buy-button:hover {
  border-bottom: 4px solid #264792;
}
.catalog-card__buy-button:active {
  border-bottom: 4px solid #264792;
  -webkit-box-shadow: 0px 5px 20px -9px #264792;
          box-shadow: 0px 5px 20px -9px #264792;
}
.change-product-style {
  text-align: center;
  padding: 30px 0px;
}
.change-product-style__button {
  padding: 20px 30px;
  border: none;
  font-size: 18px;
}
.change-product-style__button_activate {
  background: #ba0152;
  color: #ffffff;
}
.change-product-style__button_deactivate {
  background: #F3F3F3;
  color: #1e1e1e;
}
@media (max-width: 970px) {
  .catalog__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .catalog__content {
    grid-template-columns: 1fr;
  }
}
.footer {
  background-color: #f7f2f4;
  text-align: center;
  padding-bottom: 90px;
}
.footer__header {
  padding-top: 55px;
  padding-bottom: 30px;
}
.footer__header h2 {
  font-size: 60px;
}
.footer__header hr {
  width: 90px;
  margin-top: 20px;
  background: #1e1e1e;
  max-height: 0px;
  border: 2px solid #1e1e1e;
}
.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.footer-item__icon {
  border-radius: 50%;
  background: #ba0152;
  padding: 36px 0px;
  max-width: 130px;
  margin: 0px auto;
}
.footer-item__title {
  padding-top: 50px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 720px) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .footer__header h2 {
    font-size: 40px;
  }
}
